@media only screen and (min-width: 500px) {
  div#FluxAppTitle{
    width: 140px;
  }

  div#FluxAppButton{
    position: absolute;
    right: 20px;
    top: 20px;
  }

  #add-note-card{
    width: 300px;
    height: 165px;
    top: 30%;
  }

  #add-note-p{
    font-family: 'gsans-medium';
  }

  #add-note-title{
    top: 65px;
    width: 168px;
  }

  #add-note-accept-button{
    width:70px;
    right: 20px;
    top: 65px;
  }

  #add-note-description{
    height: 30px;
    top: 115px;
    width: 252px;
  }
  #AddNoteButton{
    right: 20px;
    top:20px;
    position: absolute;
  }

  #UserButton{
    right: 101px;
    top: 20px;
    position: absolute;
  }
}