/* 
-------------------------------------------
         BUTTONS
---------------------------------------------
*/

div.FluxAppButton{
    background-color: var(--main-color-light);
    box-shadow: 0px 0px 0px #00000000;
    border-radius: 10px;
    height: 56px;
    width: 56px;
    transition: 0.3s;
}
div.FluxAppButton:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
    background-color: var(--hover-color);
}

.FluxAppButton svg{
    width: 21px;
    height: 21px;
    position: absolute;
    left: 17px;
    top: 17px;
    fill: var(--main-color);
    transition: 0.3s;
}

div.FluxAppFloatingButton{
    background-color: var(--hover-color);
    box-shadow: 0px 1px 10px var(--main-shadow-color);
    border-radius: 10px;
    height: 56px;
    width: 56px;
    transition: 0.5s;
    position: fixed;
}
div.FluxAppFloatingButton:hover{
    box-shadow: 0px 1px 25px var(--main-shadow-color);
}

.FluxAppFloatingButton svg{
    width: 21px;
    height: 21px;
    position: absolute;
    left: 17px;
    top: 17px;
    fill: var(--main-contrast-color);
}

.FluxAppTextButton{
    height: 32px;
    position: absolute;
    border-radius: 5px;
    animation: FluxAppTextButtonUnHover linear 0.3s;
    box-shadow: 0px 0px 0px var(--main-shadow-color);
    background-color: var(--main-color-light);    
}

.FluxAppTextButton:hover{
    animation: FluxAppTextButtonHover linear 0.3s;
    box-shadow: 0px 1px 9px var(--main-shadow-color);
    background-color: var(--hover-color);    
}
@keyframes FluxAppTextButtonHover{
    from{
        box-shadow: 0px 0px 0px var(--main-shadow-color);
        background-color: var(--main-color-light);    
    }
    to{
        box-shadow: 0px 1px 9px var(--main-shadow-color);
        background-color: var(--main-color);    
    }
}

@keyframes FluxAppTextButtonUnHover{
    from{
        box-shadow: 0px 1px 9px var(--main-shadow-color);
        background-color: var(--main-color);    
    }
    to{
        box-shadow: 0px 0px 0px var(--main-shadow-color);
        background-color: var(--main-color-light);    
    }
}


.FluxAppTextButtonText{
    color: var(--main-color);
    font-family: 'gsans-medium';
    font-size:13px;
    margin-top:7px;
}

.FluxAppFloatingTextButton{
    height: 56px;
    position: absolute;
    border-radius: 10px;
    animation: FluxAppFloatingTextButtonUnHover linear 0.3s;
    box-shadow: 0px 0px 10px var(--main-shadow-color);
    background-color: var(--hover-color);  
}

.FluxAppFloatingTextButton:hover{
    animation: FluxAppFloatingTextButtonHover linear 0.3s;
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}
@keyframes FluxAppFloatingTextButtonHover{
    from{
        box-shadow: 0px 0px 10px var(--main-shadow-color);
    }
    to{
        box-shadow: 0px 1px 20px var(--main-shadow-color);
    }
}

@keyframes FluxAppFloatingTextButtonUnHover{
    from{
        box-shadow: 0px 1px 20px var(--main-shadow-color);
    }
    to{
        box-shadow: 0px 0px 10px var(--main-shadow-color);
    }
}


.FluxAppFloatingTextButtonText{
    color: var(--main-contrast-color);
    font-family: 'gsans-medium';
    font-size: 18px;
    margin-top: 17px;
    margin-left: 27px;
}

/* 
-------------------------------------------
         CARD
---------------------------------------------
*/

.FluxAppLiteCard{
    background: var(--main-color-light);
    border-radius: 10px;
    width: auto;
    right: 20px;
    left: 20px;
}

/* 
-------------------------------------------
         INPUTS
---------------------------------------------
*/

input:focus, textarea:focus {
    outline-width: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--secondary-color);
    vertical-align: top;
    transition: 0.3s;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--secondary-color);
    vertical-align: top;
    transition: 0.3s;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--secondary-color);
    vertical-align: top;
    transition: 0.3s;
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--secondary-color);
    vertical-align: top;
    transition: 0.3s;
}

.FluxAppSearchBar{
    background-color: var(--main-color-light );
    border-radius: 10px;
    height: 14px;
    width: auto;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    padding-left: 57px;
    border: #00000000;
    transition: 0.3s;
    text-align:left;
    color: var(--main-color);
    font-family: 'gsans-medium';
}

.FluxAppSearchBar:hover{
    background-color: var(--hover-color);
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}

.FluxAppFloating{
    background-color: var(--hover-color);
    box-shadow: 0px 1px 10px var(--main-shadow-color);
}

.FluxAppSearchBarIcon{
    width: 19px;
    height: 19px;
    position: fixed;
    left: 38px;
    top: 38px;
    fill: var(--main-color);
    transition: 0.3s;
}

.FluxAppCardTextBox{
    background-color: var(--main-color-light);
    border-radius: 10px;
    height: 14px;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    border: #00000000;
    text-align: left;
    color: var(--main-color);
    font-family: 'gsans-medium';
}

.FluxAppLargeCardTextBox{
    background-color: var(--main-color-light);
    border-radius: 10px;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    border: #00000000;
    text-align: left;
    color: var(--main-color);
    font-family: 'gsans-medium';
}

/* 
-------------------------------------------
         TITLE
---------------------------------------------
*/

div#FluxAppTitle{
    position: fixed;
    left: 20px;
    top:20px;
    background-color: var(--hover-color);
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--main-shadow-color);
    transition: 0.3s;
}
div#FluxAppTitle:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}
.FluxAppTitleImg{
    width: 22px;
    position: absolute;
    left: 19px;
    top: 16px;
    fill: var(--hover-c-color);
    transition: 0.3s;
}
p.FluxAppTitleP{
    left: 58px;
    top: -1px;
    position: absolute;
    font-family: 'gsans-medium';
    font-size: 18px;
    color: var(--hover-c-color);
    transition: 0.3s;
}

/* 
-------------------------------------------
         WINDOW
---------------------------------------------
*/

.FluxAppWindowArea{
    background-color: #000000a0;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    visibility: hidden;
}

.FluxAppWindow{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 15px #00000040;
    position: fixed;
    width: 300px;
    height: 165px;
    display: inline-block;
    top: 30%;
}

.FluxAppWindowTitle{
    margin: 20px;
    position: fixed;
    font-size: 18px;
    color: var(--main-color);
}
