:root{
    --FA2ButtonRadius: 10px;
    --FA2ButtonAQSRadius: 7px;
}

*{
    transition: 0.3s;
    font-family: 'roboto';
}

path{
    transition: 0s;
}

::-webkit-scrollbar {width: 0px;height:0px;}
::-webkit-scrollbar-track {background: var(--main-color-light);}
::-webkit-scrollbar-thumb {background: #0A0F2320;}
::-webkit-scrollbar-thumb:hover {background: #0A0F2340;}

#AppUpdate{
    opacity:0;
    visibility: hidden;
    background:white;
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
}

#AppUpdateTextDiv,#AppUpdateLogoDiv{
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    text-align: center;
}

#AppUpdateLogoDiv{top:-70px;}

#AppUpdateText{
    display:inline-block;
    top:50%;
    margin-top:-95px;
    position: relative;
}

#AppUpdateLogo{
    position: absolute;
    display: inline-block;
    bottom: 0px;
    margin-left: -96px;
}

#AppView{
    left:20px;
    right:20px;
    position:absolute;
    top:0px;
    width:auto;
}

#NoteList{
    position: relative;
    margin-top: 20px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.NoteCard,.ANCard{
    background: var(--main-color-light);
    box-shadow: 0px, 0px, 10px, #00000000;
    border-radius: var(--FA2ButtonRadius);
    width: auto;
    padding:19px;
    position:relative;
    margin:20px 0px;
}

.NoteTitle{
    color: var(--main-color);
    margin: 0px;
    size: 18px;
}

.NoteDescription{
    color: var(--secondary-color);
    font-size: 14px;
    position:absolute;
    height: auto;
    word-break: break-all;
    margin-right:20px;
}

.NoteDate,#ANSText{
    color: var(--secondary-color);
    margin: 19px;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity:70%;
}

#ANS{
    height: 81px;
    padding: 0px;
}

#ANO{
    padding: 0px;
    height: 56px;
    margin-top:-76px;
    opacity:0;
}

.ANIcon{
    top: 16px;
    left:16px;
    position: absolute;
    fill: var(--main-color)
}

.ANTitle{
    top: 17px;
    left:56px;
    position: absolute;
    margin:0px;
    color: var(--main-color)
}

#ANSBar{
    bottom: 20px;
    right: 20px;
    left: 20px;
    width:auto;
    height: 7px;
    position:absolute;
    background:var(--hover-color);
    box-shadow: 0px 0px 10px var(--aqs-shadow-color);
    border-radius: 3.5px;
}

#ANSBarActive{
    bottom: 0px;
    left:0px;
    width:7px;
    position: absolute;
    background: var(--main-color);
    border-radius: 3.5px;
    height:7px;
}

#AppQuickSettings{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
    background: var(--aqs-background);
    border-radius: var(--FA2ButtonRadius);
    left:0px;
    margin-top:0px;
    right:0px;
    width:auto;
    height: 0px;
    position: relative;
    padding-top: 0px;
    opacity:0;
}

#AQSAddLabel{
    background: var(--aqs-item);
    box-shadow: 0px, 0px, 10px, #00000000;
    border-radius: 7px;
    width: auto;
    position:absolute;
    left:20px;
    right:96px;
    bottom:20px;
    height:56px;
}

#AQSAddLabel:hover{
    background: var(--hover-color);
    box-shadow: 0px 1px 20px var(--aqs-shadow-color);
}

#AQSAddLabel:hover> p{
    color: var(--hover-c-color)
}
#AQSAddLabel p{
    color: var(--main-contrast-color);
    font-size: 16px;
    margin-top: 17px;
    margin-left: 25px;
    position: absolute;
}

#AQSSettings{
    position:absolute;
    right:20px;
    bottom:20px;
    background: var(--aqs-item);
}

#AQSSettings:hover{ background: var(--hover-color); box-shadow: 0px 1px 20px var(--aqs-shadow-color); }

#AQSSIcon{
    position:relative;
    margin:15px;
    left:0px;
    top:0px;
    fill:none;
    width:26px;
    height:26px;
}

#AQSLabel_All_Notes{ top:20px; margin-bottom: 30px; }

.AQSLabel{
    height: 20px;
    margin: 10px 20px;
    background: var(--aqs-background);
    color: var(--main-color);
    border-radius: 7px;
    width: auto;
    position: relative;
    top: 0px;
    padding:18px;
    box-shadow: 0px 0px 20px #00000000;
}

.AQSLabel.Active{
    background: var(--main-color-light);
}

.AQSLabel:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
    background: var(--hover-color);
    color:var(--hover-c-color);
    z-index:1;
}

.AQSLabelName{
    margin: 0px;
    size: 18px;
    position: relative;
}

.AQSLabelCount{
    position: absolute;
    right:19px;
    top:19px;
    margin:0px;
    font-size:16px;
    opacity:0.6;
}

#SearchBarForm{
    width:100%;
    position:fixed;
}

#NewLabelShadow{
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background: var(--main-shadow-color);
    position:fixed;
    display:none;
    opacity:0;
}

#NewLabelWindow{
    right:20px;
    left:20px;
    height:172px;
    border-radius: var(--FA2ButtonRadius);
    box-shadow: 0px 1px 50px var(--main-shadow-color);
    top:50%;
    margin-top:-86px;
    position:fixed;
    background: var(--aqs-background)
}

#NewLabelName{
    position:absolute;
    right:62px;
    left:20px;
    height:56px;
    width: auto;
    top:20px;
}

#NewLabelName input{
    background: var(--main-color-light);
    border-radius: 7px;
    border:0;
    height: 14px;
    width: 100%;
    font-size: 18px;
    padding: 21px;
    color: var(--main-color);
}

#NewLabelCreate{
    width:112px;
    bottom:20px;
    right:20px;
    position: absolute;
}

#NewLabelCancel{
    bottom: 20px;
    right: 152px;
    position: absolute;
}

#NewLabelCancel svg{
    transform: rotate(45deg);
    top:18px;
    left:17px;
    position:absolute;
}

body{
    overflow-x: hidden;
    background: var(--background-color);
    margin: 0px;
    width: 100%;
    height: 100%;
    transition: 0s;
}
    
html{
    width: 100%;
    height: 100%;
}


.NoteCard:hover{
    background: var(--hover-color);
    box-shadow: 0px 3px 20px var(--main-shadow-color);
}

.NoteCard:hover > .NoteDescription, .NoteCard:hover > .NoteDate { color: var(--secondary-contrast-color) }
.NoteCard:hover > .NoteTitle { color: var(--main-contrast-color) }

/* -- Settings -- */

#SettingsWindow{opacity:0.5; transform:scale(0.9)}

#SettingsHomeButton{
    top: 20px;
    right: 20px;
    position: absolute;
}

#SettingsHomeButton svg{ margin: 16px 16.5px; }

.SettingsCard{
    margin-top:20px;
    position: relative;
}

.SettingsTitle{
    font-size: 18px;
    top:20px;
    left: 56px;
    position: absolute;
    margin:0px;
}

.SettingsDescription{
    font-size: 14px;
    left: 34px;
    opacity: 0.6;
    margin: 8px 0px 0px 0px;
}

/* Theme Settings */

#ThemeSettings{transform:scale(0.81)}

#ThemeSettingsBack{
    top: 20px;
    right: 20px;
    position: absolute;
}

/* -- Open Note -- */

#OpenNoteWindow{transform: scale(0.9);}

#OpenNote_ToHomeButton{
    position: absolute;
    bottom:20px;
    right:20px;
}

#AddNoteWindow{transform: scale(0.9);}

#AddNoteTitle, #AddNoteDescription{transition: 0s width;}

/* 
-------------------------------------------
         FONTS
---------------------------------------------
*/

@font-face{ font-family: 'roboto'; src: url(Fonts/RobotoML.woff2) }

@font-face{ font-family: 'roboto'; src: url(Fonts/RobotoMC.woff2) }

body {width: 100%;}

/* 
-------------------------------------------
         MOBILE
---------------------------------------------
*/

@media only screen and (max-width: 656px) {
    div#FluxAppTitle{
        display: none;
    }

    div#FluxAppButton{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    
    #AppMenuButton{
        right: 20px;
        top: 20px;
        position: fixed;
    }

    #SearchBarForm{
        position: fixed;
        top: 20px;
        right: 173px;
        left: 20px;
        width: auto;
    }

    #SearchBar{
        width: 100%;
    }

    #AddNoteButton{
        right: 20px;
        bottom:20px;
        position: fixed;
    }

    #AddNoteTitle{
        position: absolute;
        left: 20px;
        top: 20px;
        right: 20px;
        width: auto;
    }

    #AddNoteDescription{
        position: absolute;
        left: 20px;
        top: 96px;
        right: 20px;
        width: auto;
        resize: none;
        bottom:96px;
        height:auto;
    }

    #CreateNoteAcceptButton{
        right: 20px;
        bottom: 20px;
        width: 112px;
    }

    #SvgCloseAddIcon{transform: rotate(45deg);}

    #CloseAddNoteDialogButton{
        position: absolute;
        right: 152px;
        bottom: 20px;
    }

    #OpenNoteCard{
        height: 56px;
        top: 20px;
        right: 20px;
        position: absolute;
    }
    
    #OpenNoteTitle{

        color: var(--main-color);
        size: 18px;
        margin: 19px;
    }
    
    #OpenNoteDescription{
        color: var(--secondary-color);

        margin: 19px;
        font-size: 14px;
        position: relative;
        height: auto;
        top: -5px;
        word-break: break-all;
    }
    
    #OpenNoteDate{
        color: var(--secondary-color);

        margin: 19px;
        font-size: 14px;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #OpenNote_Delete,#Settings_ReloadApp{
        bottom: 20px;
        right: 96px;
        position: fixed;
    }

}

/* 
-------------------------------------------
         DESKTOP
---------------------------------------------
*/

@media only screen and (min-width: 657px) {
    #SearchBar{
        position: fixed;
        top: 20px;
        right: 117px;
        left: 180px;
        width: 205px;    
    }

    
    #SearchIcon{
        left: 200px;  
    }

    div#FluxAppTitle{
        width: 140px;
        display: block;
    }

    #SvgAddIcon{
        fill: var(--main-color);
    }

    div#FluxAppButton{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #AddNoteButton{
        right: 20px;
        top:20px;
        position: fixed;
    }

    #AppMenuButton{
        right: 96px;
        top: 20px;
        position: fixed;
    }

    #AddNoteTitle{
        position: absolute;
        left: 20px;
        top: 96px;
        right: 20px;
        width: auto;
    }

    #AddNoteDescription{
        position: absolute;
        left: 20px;
        top: 172px;
        right: 20px;
        width: auto;
        resize: none;
        bottom:20px;
        height:auto;

    }

    #CreateNoteAcceptButton{
        right: 20px;
        top: 20px;
        width: 112px;
    }

    #SvgCloseAddIcon{transform: rotate(45deg);}

    #CloseAddNoteDialogButton{
        position: absolute;
        right: 152px;
        top: 20px;
    }

    #OpenNoteCard{
        height: 56px;
        top: 96px;
        right: 20px;
        position: absolute;
    }
    
    #OpenNoteTitle{

        color: var(--main-color);
        size: 18px;
        margin: 19px;
    }
    
    #OpenNoteDescription{
        color: var(--secondary-color);

        margin: 19px;
        font-size: 14px;
        position: relative;
        height: auto;
        top: -5px;
    }
    
    #OpenNoteDate{
        color: var(--secondary-color);

        margin: 19px;
        font-size: 14px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    
    #OpenNote_Delete,#Settings_ReloadApp{
        top: 20px;
        right: 96px;
        position: fixed;
    }
}

/* --- --- FA2 --- --- */

.FA2Button:hover,.FA2CardIcon:hover,.FA2OptionActiveChooser:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
    background-color: var(--hover-color);
}

/* FA2Window */

.FA2Window{
    width: 100%;
    height:100%;
    background: var(--background-color);
    position: fixed;
    left: 0px;
    top:0px;
    display: none;
    opacity:0;
    overflow-y: auto;
}

.FA2PageContent{
    position: absolute;
    width:100%;
    top:76px; 
}

/* FA2Button */

.FA2Button:active{ box-shadow: 0px 1px 30px var(--active-shadow-color) !important; }

.FA2Button{ 
    background: var(--main-color-light);
    box-shadow: 0px 0.5px 5px #00000000;
    border-radius: var(--FA2ButtonRadius);
    height: 56px;
    width: 56px;
    user-select: none;
    color: var(--main-color)
}

.FA2Button svg{margin:16px}

.FA2Button.Floating{
    background: var(--hover-color);
    box-shadow: 0px 1px 10px var(--main-shadow-color);
}

/* FA2NameBar */

.FA2NameBar{
    background: var(--main-color-light);
    height:20px;
    top:20px;
    left:20px;
    right:96px;
    width:auto;
    position:absolute;
    border-radius: var(--FA2ButtonRadius);
    padding:18px;
    user-select: none;
    color: var(--main-color)
}

.FA2NameBar p{
    margin:0px;
}

/* FA2CardIcon */

.FA2CardIcon{
    width: auto;
    height: auto;
    right: 0px;
    left: 0px;
    border-radius: var(--FA2ButtonRadius);
    background: var(--main-color-light);
    padding: 19px;
    position: relative;
    margin: 20px;
    user-select: none;
    color: var(--main-color)
}

/* FA2CardChooser */

.FA2CardChooser{
    width: auto;
    height: 79px;
    right: 0px;
    left: 0px;
    border-radius: var(--FA2ButtonRadius);
    background: var(--main-color-light);
    padding: 19px;
    position: relative;
    margin: 20px;
    user-select: none;
    color: var(--main-color)
}

.FA2CardChooser>.FA2OptionScroller>.FA2OptionActiveChooser{
    background: var(--hover-color);
    box-shadow: 0px 1px 15px var(--main-shadow-color);
    width:66px;
    height:44px;
    border-radius: var(--FA2ButtonAQSRadius);
    position: absolute;
}

.FA2CardChooser>.FA2OptionScroller>.FA2OptionChooser{
    padding:12.31px 15px;
    left:0px;
    position:relative;
    height:19.4px;
    width:min-content;
    font-size:16px;
}

.FA2CardChooser p{margin:0px}

.FA2CardChooser>.FA2OptionScroller{
    height: 44px;
    padding: 20px;
    position: absolute;
    top: 33px;
    left: 0px;
    right: 0px;
    overflow-x: scroll;
    display: flex;
}

/* ----- FLUX UI ----- */

.FluxAppTextButton{
    height: 32px;
    position: absolute;
    border-radius: 5px;
    animation: FluxAppTextButtonUnHover linear 0.3s;
    box-shadow: 0px 0px 0px var(--main-shadow-color);
    background-color: var(--main-color-light);    
}

.FluxAppTextButton:hover{
    animation: FluxAppTextButtonHover linear 0.3s;
    box-shadow: 0px 1px 9px var(--main-shadow-color);
    background-color: var(--hover-color);    
}

.FluxAppTextButtonText{
    color: var(--main-color);
    font-size:13px;
    margin-top:7px;
}

.FluxAppFloatingTextButton{
    height: 56px;
    position: absolute;
    border-radius: var(--FA2ButtonRadius);
    box-shadow: 0px 0px 10px var(--main-shadow-color);
    background-color: var(--hover-color);  

}

.FluxAppFloatingTextButton:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}


.FluxAppFloatingTextButton p{
    color: var(--main-contrast-color);
    font-size: 18px;
    margin-top: 17px;
    margin-left: 27px;
}

.FluxAppLiteCard{
    background: var(--main-color-light);
    border-radius: var(--FA2ButtonRadius);
    width: auto;
    right: 20px;
    left: 20px;
}

::-webkit-input-placeholder { color: var(--secondary-color); vertical-align: top; }
::-moz-placeholder { color: var(--secondary-color); vertical-align: top; }
:-ms-input-placeholder { color: var(--secondary-color); vertical-align: top; }
:-moz-placeholder { color: var(--secondary-color); vertical-align: top; }

.FluxAppSearchBar{
    background-color: var(--main-color-light );
    border-radius: var(--FA2ButtonRadius);
    height: 14px;
    width: auto;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    padding-left: 57px;
    border: #00000000;
    text-align:left;
    color: var(--main-color);
}

.FluxAppSearchBar:hover{
    background-color: var(--hover-color);
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}

.FluxAppSearchBarIcon{
    width: 19px;
    height: 19px;
    position: fixed;
    left: 38px;
    top: 38px;
    fill: var(--main-color);
}

.FluxAppCardTextBox{
    background-color: var(--main-color-light);
    border-radius: var(--FA2ButtonRadius);
    height: 14px;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    border: #00000000;
    text-align: left;
    color: var(--main-color);
}

.FluxAppLargeCardTextBox{
    background-color: var(--main-color-light);
    border-radius: var(--FA2ButtonRadius);
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    border: #00000000;
    text-align: left;
    color: var(--main-color);
}

div#FluxAppTitle{
    position: fixed;
    left: 20px;
    top:20px;
    background-color: var(--hover-color);
    height: 56px;
    border-radius: var(--FA2ButtonRadius);
    box-shadow: 0px 0px 15px var(--main-shadow-color);
}
div#FluxAppTitle:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}
.FluxAppTitleImg{
    width: 22px;
    position: absolute;
    left: 19px;
    top: 16px;
    fill: var(--hover-c-color);
}
p.FluxAppTitleP{
    left: 58px;
    top: -1px;
    position: absolute;
    font-size: 18px;
    color: var(--hover-c-color);
}

.FluxAppWindowArea{
    background-color: #000000a0;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    visibility: hidden;
}

.FluxAppWindow{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 15px #00000040;
    position: fixed;
    width: 300px;
    height: 165px;
    display: inline-block;
    top: 30%;
}

.FluxAppWindowTitle{
    margin: 20px;
    position: fixed;
    font-size: 18px;
    color: var(--main-color);
}
