:root{
    --FA2ButtonRadius: 10px;
    --FA2ButtonAQSRadius: 7px;
    --SettingsTheme: var(--InnerCardColor);
}

*{
    transition: all 0.3s, box-shadow 0.6s;
    font-family: 'roboto';
}

path{
    transition: 0s;
}

::-webkit-scrollbar {width: 0px;height:0px;}

#AppUpdate{
    opacity:0;
    visibility: hidden;
    background:var(--BackgroundColor);
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    z-index:5;
}

#AppUpdateTextDiv,#AppUpdateLogoDiv{
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    text-align: center;
}

#AppUpdateLogoDiv{top:-70px;}

#AppUpdateText{
    display:inline-block;
    top:50%;
    margin-top:-95px;
    position: relative;
}

#AppUpdateLogo{
    position: absolute;
    display: inline-block;
    bottom: 0px;
    margin-left: -96px;
}

#AppView{
    left:20px;
    right:20px;
    position:absolute;
    top:0px;
    width:auto;
}

#NoteList{
    position: relative;
    margin-top: 20px;
    left: 0px;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.NoteCard,.ANCard{
    background: var(--CardColor);
    box-shadow: 0px 1px 30px var(--ShadowColor);
    border-radius: var(--FA2ButtonRadius);
    width: auto;
    padding:19px;
    position:relative;
    margin:20px 0px;
}

.NoteTitle{
    color: var(--ContentColor);
    margin: 0px;
    size: 18px;
}

.NoteDescription{
    color: var(--ContentColor);
    opacity: 0.7;
    font-size: 14px;
    height: auto;
    word-break: break-all;
    margin-right:20px;
    margin-bottom: 0;
}

.NoteDate,#ANSText{
    color: var(--ContentColor);
    opacity: 0.4;
    margin: 19px;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity:70%;
}

#ANS{
    height: 81px;
    padding: 0px;
}

#ANO{
    padding: 0px;
    height: 56px;
    margin-top:-76px;
    opacity:0;
    z-index: -1;
}

.ANIcon{
    top: 16px;
    left:16px;
    position: absolute;
    fill: var(--ContentColor)
}

.ANTitle{
    top: 17px;
    left:56px;
    position: absolute;
    margin:0px;
    color: var(--ContentColor)
}

#ANSBar{
    bottom: 20px;
    right: 20px;
    left: 20px;
    width:auto;
    height: 7px;
    position:absolute;
    background:var(--InnerCardColor);
    box-shadow: 0px 0px 10px var(--aqs-shadow-color);
    border-radius: 3.5px;
}

#ANSBarActive{
    bottom: 0px;
    left:0px;
    width:7px;
    position: absolute;
    background: var(--ContentColor);
    border-radius: 3.5px;
    height:7px;
}

#AppQuickSettings{
    box-shadow: 0px 1px 30px var(--ShadowColor);
    background: var(--CardColor);
    border-radius: var(--FA2ButtonRadius);
    left:0px;
    margin-top:0px;
    right:0px;
    width:auto;
    height: 0px;
    position: relative;
    padding-top: 0px;
    opacity:0;
    z-index:1;
}

#AQSAddLabel{
    width: auto;
    position:absolute;
    left:20px;
    right:96px;
    bottom:20px;
    height:56px;
}

#AQSAddLabel:hover> p{
    color: var(--hover-c-color)
}
#AQSAddLabel p{
    color: var(--ContentColor);
    font-size: 16px;
    margin-top: 17px;
    margin-left: 25px;
    position: absolute;
}

#AQSSettings{
    position:absolute;
    right:20px;
    bottom:20px;
}

#AQSSIcon{
    position:relative;
    margin:15px;
    left:0px;
    top:0px;
    fill:none;
    width:26px;
    height:26px;
}

#AQSLabel_All_Notes{ top:20px; margin-bottom: 30px; }

.AQSLabel{
    height: 20px;
    margin: 10px 20px;
    background: var(--aqs-background);
    color: var(--ContentColor);
    border-radius: 7px;
    width: auto;
    position: relative;
    top: 0px;
    padding:18px;
    box-shadow: 0px 0px 20px #00000000;
}

.AQSLabel.Active{
    background: var(--CardColor);
}

.AQSLabel:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
    background: var(--hover-color);
    color:var(--hover-c-color);
    z-index:1;
}

.AQSLabelName{
    margin: 0px;
    size: 18px;
    position: relative;
}

.AQSLabelCount{
    position: absolute;
    right:19px;
    top:19px;
    margin:0px;
    font-size:16px;
    opacity:0.6;
}

#SearchBarForm{
    width:100%;
    position:fixed;
}

#NewLabelShadow{
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background: var(--ShadowColor);
    position:fixed;
    display:none;
    opacity:0;
}

#NewLabelWindow{
    right:20px;
    left:20px;
    height:172px;
    border-radius: var(--FA2ButtonRadius);
    box-shadow: 0px 1px 50px var(--ShadowColor);
    top:50%;
    margin-top:-86px;
    position:fixed;
    background: var(--CardColor)
}

#NewLabelName{
    position:absolute;
    right:62px;
    left:20px;
    height:56px;
    width: auto;
    top:20px;
}

#NewLabelName input{
    background: var(--CardColor);
    border-radius: 7px;
    border:0;
    height: 14px;
    width: 100%;
    font-size: 18px;
    padding: 21px;
    color: var(--InnerContentColor);
}

#NewLabelCreate{
    width:112px;
    bottom:20px;
    right:20px;
    position: absolute;
}

#NewLabelCancel{
    bottom: 20px;
    right: 152px;
    position: absolute;
}

#NewLabelCancel svg{
    transform: rotate(45deg);
    top:18px;
    left:17px;
    position:absolute;
}

body,#Homepage{
    overflow-x: hidden;
    background: var(--BackgroundColor);
    margin: 0px;
    width: 100%;
    height: 100%;
    transition: 0s;
    overflow: overlay;
}
    
html{
    width: 100%;
    height: 100%;
}


.NoteCard:hover{ box-shadow: 0px 1px 20px var(--HoverShadowColor); }

/* -- Settings -- */

#SettingsWindow{opacity:0.5;}

#SettingsHomeButton{
    top: 20px;
    right: 20px;
    position: absolute;
}

#SettingsHomeButton svg{ margin: 16px 16.5px; }

.SettingsCard{
    margin-top:20px;
    position: relative;
}

.SettingsTitle{
    font-size: 18px;
    top:20px;
    left: 56px;
    position: absolute;
    margin:0px;
}

.SettingsDescription{
    font-size: 14px;
    left: 34px;
    opacity: 0.6;
    margin: 8px 0px 0px 0px;
}

/* Theme Settings */

#ThemeSettings{}

#ThemeSettingsBack{
    top: 20px;
    right: 20px;
    position: absolute;
}

/* -- Open Note -- */

#OpenNoteWindow{}

#OpenNote_ToHomeButton{
    position: absolute;
    bottom:20px;
    right:20px;
}

#AddNoteWindow{}

#AddNoteTitle, #AddNoteDescription{transition: 0s width;}

/* 
-------------------------------------------
         FONTS
---------------------------------------------
*/

@font-face{ font-family: 'roboto'; src: url(Fonts/RobotoML.woff2) }

@font-face{ font-family: 'roboto'; src: url(Fonts/RobotoMC.woff2) }

body,#Homepage {width: 100%;}

#OpenNoteCard{margin:20px; height:auto;}
#OpenNoteDescription{position:relative;margin-bottom:5px;}

/* 
-------------------------------------------
         MOBILE
---------------------------------------------
*/

@media only screen and (max-width: 632px) {
    div#FluxAppTitle{
        display: none;
    }

    div#FluxAppButton{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    
    #AppMenuButton{
        right: 20px;
        top: 20px;
        position: fixed;
        z-index:1;
    }

    #SearchBarForm{
        position: fixed;
        top: 20px;
        right: 170px;
        left: 20px;
        width: auto;
    }

    #SearchBar{ width: 100%; }

    #AddNoteButton{
        right: 20px;
        bottom:20px;
        position: fixed;
    }
}

#AddNoteTitle{
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    width: auto;
}

#AddNoteDescription{
    position: absolute;
    left: 20px;
    top: 96px;
    right: 20px;
    width: auto;
    resize: none;
    bottom:96px;
    height:auto;
}

#CreateNoteAcceptButton{
    right: 20px;
    bottom: 20px;
    width: 112px;
}

#CloseAddNoteDialogButton{
    position: absolute;
    right: 152px;
    bottom: 20px;
}

#OpenNote_Delete{
    bottom: 20px;
    right: 96px;
    position: fixed;

}

#SvgCloseAddIcon{transform: rotate(45deg);}

/* 
-------------------------------------------
         DESKTOP
---------------------------------------------
*/

@media only screen and (min-width: 633px) {
    #SearchBar{
        position: fixed;
        top: 20px;
        right: 117px;
        left: 180px;
        width: 205px;    
    }
    
    #SearchIcon{left: 200px;}

    div#FluxAppTitle{
        width: 140px;
        display: block;
    }

    #AddNoteButton{
        right: 20px;
        top:20px;
        position: fixed;
    }

    #AppMenuButton{
        right: 96px;
        top: 20px;
        position: fixed;
    }
}

/* --- --- FA2 --- --- */

.FA2Button:hover,.NoteCard:hover,.FA2CardIcon:hover,.FA2OptionActiveChooser:hover{ box-shadow: 0px 1px 20px var(--HoverShadowColor);}

/* FA2Window */

.FA2Window{
    width: 100%;
    height:100%;
    /*background: var(--BackgroundColor);*/
    position: fixed;
    left: 0px;
    top:0px;
    display: none;
    opacity:0;
    overflow-y: auto;
}

.FA2PageContent{
    position: absolute;
    width:100%;
    top:76px; 
}

/* FA2Button */

.FA2Button:active{ box-shadow: 0px 1px 15px var(--ActiveShadowColor) !important; }

.FA2Button{ 
    background: var(--CardColor);
    box-shadow: 0px 1px 30px var(--ShadowColor);
    border-radius: var(--FA2ButtonRadius);
    height: 56px;
    width: 56px;
    user-select: none;
    color: var(--ContentColor)
}

.FA2Button svg{ margin:16px }

/* FA2InnerButton */

.FA2InnerButton{
    background: var(--InnerCardColor);
    border-radius: var(--FA2ButtonAQSRadius);
    height: 56px;
    width: 56px;
    user-select: none;
    color: var(--ContentColor)
}

.FA2InnerButton:hover{ background:var(--CardColor); box-shadow: 0px 1px 20px var(--ShadowColor); }

/* FA2NameBar */

.FA2NameBar{
    background: var(--CardColor);
    box-shadow: 0px 1px 30px var(--ShadowColor);
    height:20px;
    top:20px;
    left:20px;
    right:96px;
    width:auto;
    position:absolute;
    border-radius: var(--FA2ButtonRadius);
    padding:18px;
    user-select: none;
}

.FA2NameBar p{
    margin:0px;
    color: var(--ContentColor);
}

/* FA2CardIcon */

.FA2CardIcon{
    width: auto;
    height: auto;
    right: 0px;
    left: 0px;
    border-radius: var(--FA2ButtonRadius);
    background: var(--CardColor);
    padding: 19px;
    position: relative;
    margin: 20px;
    user-select: none;
    box-shadow: 0px 1px 30px var(--ShadowColor);
    color: var(--ContentColor)
}

/* FA2CardChooser */

.FA2CardChooser{
    width: auto;
    height: 79px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 1px 30px var(--ShadowColor);
    border-radius: var(--FA2ButtonRadius);
    background: var(--CardColor);
    padding: 19px;
    position: relative;
    margin: 20px;
    user-select: none;
}

.FA2CardChooser>.FA2OptionScroller>.FA2OptionChooser.Active{ background: var(--InnerCardColor); padding:12.31px 15px; }

.FA2CardChooser>.FA2OptionScroller>.FA2OptionChooser{
    padding:12.31px 15px;
    border-radius: var(--FA2ButtonAQSRadius);
    left:0px;
    position:relative;
    height:19.4px;
    width:min-content;
    font-size:16px;
}

.FA2CardChooser p { margin:0px; color: var(--ContentColor) }

.FA2CardChooser>.FA2OptionScroller{
    height: 44px;
    padding: 20px;
    position: absolute;
    top: 33px;
    left: 0px;
    right: 0px;
    overflow-x: auto;
    display: flex;
}

/* FA2Slider */

.FA2SliderCard{
    width: auto;
    height: 56px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 1px 30px var(--ShadowColor);
    border-radius: var(--FA2ButtonRadius);
    background: var(--CardColor);
    padding: 19px;
    position: relative;
    margin: 20px;
    user-select: none;
}

.FA2SliderCard p{color:var(--ContentColor); margin:0px;}

#STSCSliderBox{
    margin-top:12px;
}

.FA2Slider{
    height:20px;
    width:100%;
    -webkit-appearance: none; /*remove the line*/
    outline: none;
    border: 0; /*for firefox on android*/
    background: transparent;
}

/*chrome and opera*/
.FA2Slider::-webkit-slider-runnable-track{
    background: var(--InnerCardColor);
    height: 7px;
    border-radius: 4px;
}

.FA2Slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--ContentColor);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -7px;
    border: 4px solid var(--CardColor);
    box-shadow: 0px 0px 7px var(--ShadowColor);
}

.FA2Slider:hover::-webkit-slider-thumb{box-shadow: 0px 0px 10px var(--HoverShadowColor);}
.FA2Slider:active::-webkit-slider-thumb{box-shadow: 0px 0px 10px var(--ActiveShadowColor);}

/*firefox*/
.FA2Slider::-moz-focus-outer {border: 0;}

.FA2Slider::-moz-range-track {
    background: var(--InnerCardColor);
    height: 7px;
    border-radius: 4px;
}

.FA2Slider:hover::-moz-range-thumb{box-shadow: 0px 0px 10px var(--HoverShadowColor);}
.FA2Slider:active::-moz-range-thumb{box-shadow: 0px 0px 10px var(--ActiveShadowColor);}

.FA2Slider::-moz-range-thumb {
    background: var(--ContentColor);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -7px;
    border: 4px solid var(--CardColor);
    box-shadow: 0px 0px 7px var(--ShadowColor);
}

.FA2Slider::-moz-range-progress {
    background: var(--ContentColor);
    border-radius: 4px;
    height: 7px;
}

/* ----- FLUX UI ----- */

.FluxAppTextButton{
    height: 32px;
    position: absolute;
    border-radius: 5px;
    animation: FluxAppTextButtonUnHover linear 0.3s;
    box-shadow: 0px 0px 0px var(--ShadowColor);
    background-color: var(--CardColor);    
}

.FluxAppTextButton:hover{
    animation: FluxAppTextButtonHover linear 0.3s;
    box-shadow: 0px 1px 9px var(--ShadowColor);
    background-color: var(--hover-color);    
}

.FluxAppTextButtonText{
    color: var(--ContentColor);
    font-size:13px;
    margin-top:7px;
}

.FluxAppFloatingTextButton{
    height: 56px;
    position: absolute;
    border-radius: var(--FA2ButtonRadius);
    box-shadow: 0px 1px 30px var(--ShadowColor);
    background-color: var(--CardColor);  

}

.FluxAppFloatingTextButton:hover{
    box-shadow: 0px 1px 20px var(--HoverShadowColor);
}


.FluxAppFloatingTextButton p{
    color: var(--ContentColor);
    font-size: 18px;
    margin-top: 17px;
    margin-left: 27px;
}
input,textarea{outline: none !important;}
::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder,:-ms-input-placeholder,:-moz-placeholder { color: var(--ContentColor); opacity: 0.4; }

.FluxAppSearchBar{
    border-radius: var(--FA2ButtonRadius);
    height: 14px;
    width: auto;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    padding-left: 57px;
    border: #00000000;
    text-align:left;
    color: var(--ContentColor);
}

.FluxAppSearchBarIcon{
    width: 19px;
    height: 19px;
    position: fixed;
    left: 38px;
    top: 38px;
    fill: var(--ContentColor);
}

.FluxAppCardTextBox{
    background-color: var(--CardColor);
    border-radius: var(--FA2ButtonRadius);
    height: 14px;
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    border: #00000000;
    text-align: left;
    color: var(--ContentColor);
    box-shadow: 0px 1px 30px var(--ShadowColor);
}

.FluxAppLargeCardTextBox{
    background-color: var(--CardColor);
    box-shadow: 0px 1px 30px var(--ShadowColor);
    border-radius: var(--FA2ButtonRadius);
    border-style: solid;
    font-size: 18px;
    padding: 21px;
    border: #00000000;
    text-align: left;
    color: var(--ContentColor);
}

div#FluxAppTitle{
    position: fixed;
    left: 20px;
    top:20px;
    background-color: var(--CardColor);
    height: 56px;
    border-radius: var(--FA2ButtonRadius);
    box-shadow: 0px 1px 30px var(--ShadowColor);
}
div#FluxAppTitle:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}
.FluxAppTitleImg{
    width: 22px;
    position: absolute;
    left: 19px;
    top: 16px;
    fill: var(--ContentColor);
}
p.FluxAppTitleP{
    left: 58px;
    top: -1px;
    position: absolute;
    font-size: 18px;
    color: var(--ContentColor);
}

.FluxAppWindowArea{
    background-color: #000000a0;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    visibility: hidden;
}

.FluxAppWindow{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 15px #00000040;
    position: fixed;
    width: 300px;
    height: 165px;
    display: inline-block;
    top: 30%;
}

.FluxAppWindowTitle{
    margin: 20px;
    position: fixed;
    font-size: 18px;
    color: var(--ContentColor);
}
