@media only screen and (max-width: 500px) {
    div#FluxAppButton{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    #add-note-card{
        width: 300px;
        height: 165px;
        top: 30%;
    }

    #add-note-p{
        font-family: 'gsans-medium';
    }

    #add-note-title{
        top: 65px;
        width: 168px;
    }
    
    #add-note-accept-button{
        width:70px;
        right: 20px;
        top: 65px;
    }
    
    #add-note-description{
        height: 30px;
        top: 115px;
        width: 252px;
    }
    
    #UserButton{
        right: 20px;
        top: 20px;
        position: absolute;
    }

    #SearchBar{
        position: absolute;
        top: 20px;
        right: 117px;
        left: 20px;
        width: auto;
    }

    #AddNoteButton{
        right: 20px;
        bottom:20px;
        position: absolute;
    }
    
    html{
        width: 100%;
        height: 100%;
    }

    body{
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    #MobileView{
        width: 100%;
        height: 100%;
    }

    #AddNoteWindow{
        position: absolute;
        left:0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
    }

    #AddNoteTitle{
        position: absolute;
        left: 20px;
        top: 20px;
        right: 20px;
        width: auto;
    }

    #AddNoteDescription{
        position: absolute;
        left: 20px;
        top: 96px;
        right: 20px;
        width: auto;
    }

    #CreateNoteAcceptButton{
        right: 20px;
        bottom: 20px;
        width: 112px;
    }
}