div.FluxAppButton{
    background-color: var(--main-shadow-color);
    box-shadow: 0px 0px 0px #00000000;
    border-radius: 10px;
    height: 56px;
    width: 56px;
    right: 20px;
    top:20px;
    position: absolute;
    transition: 0.5s;
}
div.FluxAppButton:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
    background-color: var(--main-color);
}
.FluxAppButtonIcon{
    width: 21px;
    height: 21px;
    position: absolute;
    left: 17px;
    top: 17px;
    fill: var(--main-color);
}
svg#SvgAddIcon{
    transition: 0.3s;
}