div#FluxAppTitle{
    position: absolute;
    left: 20px;
    top:20px;
    background-color: var(--main-color);
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--main-shadow-color);
    transition: 0.2s;
}
div#FluxAppTitle:hover{
    box-shadow: 0px 1px 20px var(--main-shadow-color);
}
img.FluxAppTitleImg{
    width: 22px;
    position: absolute;
    left: 19px;
    top: 17px;
}
p.FluxAppTitleP{
    left: 58px;
    top: -1px;
    position: absolute;
    font-family: 'gsans-medium';
    font-size: 18px;
    color: #ffffffee;
}